{
  "modules": {
    "blockchain": {
      "implementation": {
        "hardhat1:31337": {
          "enabled": false
        },
        "hardhat2:31337": {
          "enabled": false
        },
        "base:8453": {
          "enabled": true,
          "package": "./blockchain/implementation/base/base-service.js",
          "config": {
            "nodeName": "opengenome",
            "hubContractAddress": "0x99Aa571fD5e681c2D27ee08A7b7989DB02541d13",
            "rpcEndpoints": [
              "${BASE_RPC_URL}"
            ],
            "evmManagementWalletPublicKey": "${EVM_MANAGEMENT_PUBLIC_KEY}",
            "operationalWallets": [
              {
                "evmAddress": "${NODE_WALLET_ADDRESS}",
                "privateKey": "${NODE_WALLET_PRIVATE_KEY}"
              }
            ],
            "initialAskAmount": 0.2,
            "operatorFee": 0
          }
        }
      }
    },
    "repository": {
      "enabled": true,
      "implementation": {
        "sequelize-repository": {
          "enabled": true,
          "package": "./repository/implementation/sequelize/sequelize-repository.js",
          "config": {
            "database": "operationaldb",
            "user": "otnode",
            "password": "${MYSQL_PASSWORD}",
            "port": "3306",
            "host": "127.0.0.1",
            "dialect": "mysql",
            "logging": false,
            "pool": {
              "max": 20,
              "min": 0,
              "acquire": 60000,
              "idle": 10000
            }
          }
        }
      }
    },
    "tripleStore": {
      "enabled": true,
      "implementation": {
        "ot-fuseki": {
          "enabled": true,
          "package": "./triple-store/implementation/ot-fuseki/ot-fuseki.js",
          "config": {
            "repositories": {
              "dkg": {
                "url": "http://localhost:3030",
                "name": "dkg"
              },
              "publicCurrent": {
                "url": "http://localhost:3030",
                "name": "publicCurrent"
              },
              "privateCurrent": {
                "url": "http://localhost:3030",
                "name": "privateCurrent"
              }
            }
          }
        },
        "ot-blazegraph": {
          "enabled": false,
          "package": "./triple-store/implementation/ot-blazegraph/ot-blazegraph.js",
          "config": {}
        }
      }
    },
    "httpClient": {
      "enabled": true,
      "implementation": {
        "express-http-client": {
          "enabled": true,
          "package": "./http-client/implementation/express-http-client.js",
          "config": {
            "useSsl": false,
            "port": 8900,
            "rateLimiter": {
              "timeWindowSeconds": 60,
              "maxRequests": 200
            }
          }
        }
      }
    },
    "network": {
      "implementation": {
        "libp2p-service": {
          "config": {
            "port": 9000,
            "bootstrap": [
              "/ip4/157.230.96.194/tcp/9000/p2p/QmZFcns6eGUosD96beHyevKu1jGJ1bA56Reg2f1J4q59Jt",
              "/ip4/18.132.135.102/tcp/9000/p2p/QmemqyXyvrTAm7PwrcTcFiEEFx69efdR92GSZ1oQprbdja"
            ]
          }
        }
      }
    },
    "telemetry": {
      "enabled": false
    }
  },
  "auth": {
    "ipBasedAuthEnabled": false,
    "tokenBasedAuthEnabled": false,
    "loggingEnabled": true,
    "publicOperations": [
      "publish",
      "get",
      "query"
    ],
    "bothIpAndTokenAuthRequired": false
  },
  "appDataPath": "data",
  "logging": {
    "defaultLevel": "info"
  }
}
